<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/player">Home</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="/player/create">Create</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="d-flex" action="/player">-->
<!--                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"-->
<!--                       th:value="${searchName}" name="name">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<h1 class="text-center ">Soccer PLayer Management</h1>

<!--<a role="button" class="btn btn-primary" href="/player/create">Add a new player</a>-->

<!--<form action="/player">-->
<!--    <input class="text-input" type="text" name="searchName" th:value="${searchName}">-->
<!--    <button class="btn btn-primary" type="submit">Search</button>-->
<!--</form>-->

<table class="table">
    <thead class="table-success">
    <tr>
        <th> STT</th>
        <th> Code</th>
        <th> Name</th>
        <th> Date of birth</th>
        <th> Experience</th>
        <th> Position</th>
        <th> Image</th>
        <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="list1,tr : ${list}">
        <tr>
            <td th:text="${tr.count}"></td>
            <td th:text="${list1.getCode()}"></td>
            <td th:text="${list1.getName()}"></td>
            <td th:text="${list1.getDateOfBirth()}"></td>
            <td th:text="${list1.getExperience()}"></td>
            <td th:text="${list1.getPositionName()}"></td>
            <td><img style="width: 6rem; height: 6rem" th:src="${list1.getAvatar()}"></td>
            <td>
                <span style="display: flex">

                      <a style="margin: 3%;" th:href="@{/player/edit/__${list1.getId()}__}"
                         data-toggle="tooltip" data-placement="top"
                         title="Edit" class="label gradient-1 rounded">
                         <i class="fa-solid fa-user-pen" style="color: #000000;"></i>
                      </a>
                    <button type="button" class="btn"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            th:attr="onclick= |confirmDelete('${list1.getName()}',${list1.getId()})|">
                            <i class="fa-solid fa-trash"></i>
                    </button>
                </span>
            </td>
        </tr>
    </th:block>
    </tbody>
    <h3 th:text="${mess}"></h3>
</table>

<div class="container" style="display: flex;justify-content: center">
    <a th:if="${list.hasPrevious()}" th:href="@{/player/(page=${list.number-1},searchName=${searchName})}"
       style="margin-right: 10px;">Previous</a>
    <span th:text="${list.number+1}"></span>/<span th:text="${list.totalPages}"></span>
    <a th:if="${list.hasNext()}" th:href="@{/player/(page=${list.number+1},searchName=${searchName})}"
       style="margin-left: 10px;">Next</a>
</div>


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"-->
<!--        crossorigin="anonymous">-->
<!--</script>-->
<!-- Modal xóa/-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/player/delete" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Delete</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete Player:
                        <span id="name"></span></p>
                    <input type="text" hidden="hidden" name="id" id="id">
                    <p style="color: red"><b>Warning</b> Action cannot return ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    //delete modal
    function confirmDelete(name, id) {
        document.getElementById("name").innerHTML = name;
        document.getElementById("id").value = id;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>

</html>